.header {
    background-image: url(../images/avion-uno.jpg);
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
    z-index: 2;
}

.logo {
    width: 20rem;
    padding: 1.5rem;
}

.MuiTypography-root {
    font-size: 2rem !important;
}

.logolargo {
    width: 50vw;
    height: 20vh;
}

.all_reserver {
    font-size: 1.3rem !important;
}

.pagconstruction{
    background-image: url(../images/travelingconstruction.jpg);
    background-position: center;
    background-size: cover;
}

.popular{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    padding: 1rem;
    transition: .5s
}

a{
    text-decoration: none!important;
    color: aliceblue;
}

.footer-link{
    margin:1rem;
    color: aliceblue;
}

.MuiPaper-root {
    background-color: rgba(0, 0, 0, 0.418);
}

/* -----------CARRUSEL---------- */

.contenedorCarr{
    width: auto;
    height: 80vh;
    background-image: url(https://ep01.epimg.net/elpais/imagenes/2020/01/02/paco_nadal/1577966902_562866_1577969649_noticia_normal.jpg);
    background-position:top;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedorcarurel{
    width: 80rem;
}

.tituloCiudades{
    display: flex;
    justify-content: center;
    background-color: rgb(6, 8, 8);
    color:white;
    opacity: 70%;
    font-size: 1.5rem;
}


/* -----------MEDIAQUERY---------- */

@media (max-width: 1350px) {
    .contenedorcarurel {
        width: 60rem;
    }
}
@media (max-width: 1330px) {
    .contenedorcarurel {
        width: 50rem;
    }
}

@media (max-width: 3000px){
    .divCarrusel {
        height: 20rem;
        
        
    }
}
@media (max-width: 870px) {
    .contenedorcarurel {
        width: 40rem;
    }
}
@media (max-width: 710px) {
    .contenedorcarurel {
        width: 30rem;
    }
}

@media (max-width: 710px){
    .divCarrusel {
        height: 15rem;        
    }
}

@media (max-width: 550px) {
    .contenedorcarurel {
        width: 20rem;
    }
}
@media (max-width: 550px){
    .divCarrusel {
        height: 10rem;     
    }
}
@media (max-width: 390px) {
    .contenedorcarurel {
        width: 18rem;
    }
}
@media (max-width: 390px){
    .divCarrusel {
        height: 10rem;       
    }
}

@media (max-width: 340px) {
    .contenedorcarurel {
        width: 15rem;
    }
}

@media (max-width: 390px){
    .tituloCiudades {
        font-size: 1.2rem;     
    }
}
/* -------------------------- */

@media (max-width:900px) {
    .all_reserver_mobile {
        font-size: 1rem !important;
    }
}
@media (max-width:800px) {
    .logolargo {
        height: 10vh;
    }
}

@media (max-width:500px) {
    .logolargo {
        height: 5vh;
    }
}

@media (max-width: 440px) {
    .logo {
        width: 12rem;
    }
}

/* Footer */
@media (max-width:380px) {
    .all_reserver_mobile {
        font-size: .7rem !important;
    }
}

