.header {
    background-image: url(../images/avion-uno.jpg);
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
    z-index: 2;
}

.logo {
    width: 20rem;
    padding: 1.5rem;
}



.MuiTypography-root {
    font-size: 2rem !important;
}

.logolargo {
    width: 50vw;
    height: 20vh;

}

.all_reserver {
    font-size: 1.3rem !important;
}

/* .MuiSvgIcon-root {
    cursor: pointer;    
    width: 4vw !important;
    height: 4vh !important; */
/* } */
/* -----------CARRUSEL---------- */

.contenedorCarr{
    width: 100%;
    height: 90vh;
    background-image: url(https://ep01.epimg.net/elpais/imagenes/2020/01/02/paco_nadal/1577966902_562866_1577969649_noticia_normal.jpg);
    background-position:top;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedorcarurel{
    width: 75rem;
}

.tituloCiudades{
    display: flex;
    justify-content: center;
    background-color: rgb(6, 8, 8);
    color:white;
    opacity: 70%;
    font-size: 1.5rem;
}


/* -----------MEDIAQUERY---------- */


@media (max-width:900px) {
    .all_reserver_mobile {
        font-size: 1rem !important;
    }
}
@media (max-width:800px) {
    .logolargo {
        height: 10vh;
    }
}

@media (max-width:500px) {
    .logolargo {
        height: 5vh;
    }
}

@media (max-width: 440px) {
    .logo {
        width: 12rem;
    }
}

@media (max-width:380px) {
    .all_reserver_mobile {
        font-size: .7rem !important;
    }
}

